@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap");
@import url("https//db.onlinewebfonts.com/c/7488d105b84275cbb068dd17e2c87aed?family=Franchise");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Pre loader */

#preLoader{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff url('/Imgs/preLoader.gif') no-repeat center center;
  z-index: 2000;
}
a {
  text-decoration: none;
  color: #ebfbd4e6;
}
body {
  font-family: "Poppins";
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
}

.nav__bar {
  display: flex;
  height: 5rem;
  background-color: #222629;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav__content {
  padding-left: 3.5rem;
  font-size: 1.9rem;
  color: #86c323;
  font-family: Franchise;
}
.nav__content img {
  width: 44px;
  height: 44px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
  align-items: center;
  position: relative;
}

.nav__list li {
  list-style: none;
  padding: 0.8rem;
  font-size: 1.3rem;
}

.nav__list li a {
  text-decoration: none;
  color: #fff;
  font-family: poppins;
  position: relative;
}

.nav__list li a::after {
  content: "";
  height: 2px;
  background: #86c323;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left center;
}

.nav__list a:hover {
  color: #86c323;
}
.nav__list a:hover::after {
  color: #7ca93efa;
  opacity: 1;
  transform: scaleX(1);
  transition: all linear 250ms;
}

.container {
  min-height: 40rem;
  background-color: #474b4f;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}
.about {
  flex-wrap: nowrap;
}
/* home section styling */
.home__text {
  font-size: 3rem;
  font-weight: 400;
  padding-left: 10px;
  color: #fff;
  width: 50%;
}

.name__text {
  color: #86c232;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.large__text {
  font-size: 5rem;
  font-weight: 400;
  padding-left: 10px;
  color: #fff;
}

.home__pic img {
    
  width: 600px;
}
/* about section styling */

/* footer styling */

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 15px;
  height: 5rem;
  background-color: #222629;
  color: #86c323;
  font-size: 18px;
  font-weight: 500;
  overflow-x: hidden;
}
.links {
  overflow-x: unset;
}

.links a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  overflow-x: unset;
}
.links > a > img{
  width: 30px;
  height: 30px;
  overflow-x: unset;
}
.links a:hover {
  color: #86c232;
  text-decoration: underline;
}


 /* skills section styling  */

 .skills__section{
    min-height: 40vh;
    background-color: #7ca93efa;
    opacity: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: 20px;
    gap: 2rem;

 }

 .skills__section img{
    cursor: pointer;
 }
 .skills__section img:hover{
    transform: scale(1.2);
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
 }

 .skills__section > h1{
    padding-top: 1rem;
    text-align: center;
    color: #474b4f;
 }

 .frontend > h1{
    color: #474b4f;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
 }

 .logos__wrap{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
 }

 .backend > h1{
    color: #474b4f;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
 }

 .backend > div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
 }

 .tools > h1{
    color: #474b4f;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
 }

 .tools_logos__wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
 }

/* projects section styling */

.projects{
  background-color: #474b4f;
  min-height: 90vh;
  padding:2rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  align-content: center;
  gap: 2rem;
  margin: 0 auto;
  overflow-x: hidden;
  
}
.projects__title{
  grid-column: span 2;
  width: 70%;
  height: 5rem;
 
  
}
.projects__title > h1{
  color: #86c232;
  padding-block: 1rem;
  text-align: center;
}

.project__wrap{
  width: 40rem;
  min-height: 30rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: #86c232c4;
  border-radius: 10px;
  cursor: pointer;
  overflow-x: unset;

}
.project__wrap:hover{
  transform: scale(1.05);
  transition: all linear 0.25s;
}
.project__wrap img{
  width: 90%;
  min-height: 60%;
  opacity: 0.7;
  padding-top: 1rem;
  cursor: pointer;
}
.project__wrap img:hover{
  opacity: 1;
  transition: all linear 0.5s;
}
.project__details{
  color: #474b4f;
  text-align: left ;
  /* border: 2px solid red; */
  width: 90%;
  min-height: 17rem;
  overflow-x: unset;
}

.project__details h1,h3{
  padding-inline: 1rem;
  padding-top: 1rem;
}

.project__details > h3 > i{
  padding-inline: 0.5rem;
  font-size: 1.5rem;
}

.project__details > a > i{
  padding-top: 1rem;
  padding-left:1rem;
  font-size: 1.5rem;
  color: #474b4f;
}

.reduxIcon{
  opacity: 1;
  width: 30px !important;
  text-align: center;
  color: #474b4f;
}

.view__more{
  grid-column: span 2;
  width: 80%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view__more > button{
  margin: 0 auto;
  height: 2.5rem;
  width: 15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #474b4f;
  background-color: #86c232;
  border: none;
  border: 4px;
}
.view__more > button > a{
  color: #474b4f;
}

.contact__me{
  width: 100%;
  min-height: 50vh;
  background-color: #7ca93efa;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  padding-block: 2rem;
}

.contact__me > h1{
  color: #474b4f;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 20rem;
  min-width: 40%;
  padding-top: 1rem;
  gap: 1rem;
}

.form > input{
  min-width:30rem;
  height: 3rem;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}



.form > textarea{
  width: 30rem;
  height: 10rem;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-family: inherit;
}

.form > input:focus,textarea:focus{
  border: 2px solid #474b4f
}

.form > button{
  width: 10rem;
  height: 3rem;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: #86c232;
  background-color: #474b4f;
  font-size: 1rem;
  cursor: pointer;
  overflow-x: unset;
}

/* Media Queries  */

@media (max-width:1378px){
    .projects{
        grid-template-columns: repeat(1,1fr);
    }
    .projects__title{
      grid-column: unset;
    }
    .view__more{
      grid-column: unset;
    }
}

@media (max-width:720px){
  .nav__list{
    display: none;
  }
  .nav__content{
    text-align: center;
  }
  .nav__bar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    flex-direction: column;
  }
}

@media (max-width:620px){
  .home__pic > img{
    width: 20rem;
    height: 100%;
    object-fit: cover;
  }
  .home__text{
    width: 90%;
    height: 100%;
  }
  .large__text{
    font-size: 3rem;
    text-align: center;
  }
  .wrap{
    font-size: 2.5rem;
  }
  .logos__wrap > img{
    width: 3rem;
    height: 3rem;
  }
  .tools_logos__wrap > img{
    width: 3rem;
    height: 3rem;
  }
  .projects__title > h1{
    font-size: 2rem;
  }

  .project__wrap{
    max-width: 30rem;
    min-height: 20rem;
  }
  .project__details{
    min-height: 20rem;
  }

}

@media (max-width:450px){
  .home__text{
    width: 100%;
  }
  .wrap{
    font-size:1.8rem;
  }
  .frontend > h1{
    font-size: 1.5rem;
  }
  .backend > h1{
    font-size: 1.5rem;
  }
  .tools > h1{
    font-size: 1.5rem;
  }
  .logos__wrap{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,60px);
  }
  .backend > .logos__wrap{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,60px);
    padding: unset;
    gap: unset;
    justify-items: center;
    align-items: center;
  }
  .project__wrap{
    max-width: 20rem;
    min-height: 20rem;
  }
  .project__wrap img{
    width: 100%;
    min-height: 10%;
  }
  .project__details{
    min-height: 12rem;
  }
  .project__details > h1{
    font-size: 1.5rem;
  }
  .form{
    max-width: 90%;
  }
  .form > input{
    min-width: 20rem;
  }
  .form > textarea{
    width: 20rem;
  }
  .footer__content{
    font-size: 1rem;
  }
  .links > a {
    font-size: 1rem;
    padding: unset
  }
  .links > a > img{
    width: 1.5rem;
    height: 1.5rem;
    padding: unset;
  }
}